<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}

    {% endblock %}
  </title>
</head>
<body>
{% block body %}

{% endblock %}

<div>
  Page load time: {% now 'H:i' %}
</div>
<div>
  {% now "l" as current_day_of_week %}
  Today is {{ current_day_of_week }}
</div>
</body>
</html>
