{% extends 'shopapp/base.html' %}

{% block title %}
  Shop index
{% endblock %}


{% block body %}
  <h1>Pages:</h1>
  <h3><a href="{% url 'shopapp:products-list' %}">Products</a></h3>
  <h3><a href="{% url 'shopapp:orders-list' %}">Orders</a></h3>
{% endblock %}

