{% extends 'shopapp/base.html' %}

{% block title %}
  Orders list
{% endblock %}

{% block body %}
  <h1>Orders:</h1>
  <div>
    {% for order in orders %}
      <p>Order by {% firstof order.user.first_name order.user.username %}</p>
      <p>Order to {{ order.delivery_address }}</p>
      <p>Promocode: <code>{{ order.promocode }}</code></p>
      <div>
        Products in order:
        <ul>
          {% for product in order.products.all %}
            <li>#{{ product.id }}. {{ product.name }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
{% endblock %}
