{% extends 'shopapp/base.html' %}

{% block title %}
  Products list
{% endblock %}

{% block body %}
  <h1>Products:</h1>
  <div>
    {% for product in products %}
      <div>
        <p>Name: <strong>{{ product.name }}</strong></p>
        <p>Price: ${{ product.price }}</p>
        <p>Discount: {% firstof product.dicsount 'no discount'  %}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
